.personalServices {
  width: 100%;
  position: relative;
  background-color: var(--wwwjustdialcom-nero);
  height: 1778px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-51xl);
}
