.sellingOnlineWithAnEcommer {
  align-self: stretch;
  position: relative;
  height: 279px;
  background-image: url(/public/sellingonlinewithanecommercestore-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
