.frame2,
.frameChild {
  position: absolute;
  height: 306.1px;
}
.frameChild {
  top: 0;
  left: 36.8px;
  border-radius: 25.09px;
  background-color: var(--color-gray-900);
  border: 0.8px solid var(--wwwjustdialcom-nero);
  box-sizing: border-box;
  width: 239.2px;
}
.frame2 {
  top: 95.4px;
  left: 0;
  width: 276px;
  overflow: hidden;
}
.kisspngChowMeinChineseNoodIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 312px;
  height: 234.2px;
  object-fit: cover;
}
.chineseYakisbo {
  position: absolute;
  top: 216.6px;
  left: 1003.4px;
  letter-spacing: 0.01em;
  font-weight: 500;
}
.frameItem {
  position: absolute;
  top: 337.1px;
  left: 207.4px;
  border-radius: 50%;
  background-color: var(--color-black);
  width: 45.2px;
  height: 45.2px;
}
.frame1,
.frame5,
.frameInner,
.kisspngChowMeinChineseNoodParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 276px;
  height: 382px;
}
.frame1,
.frame5,
.frameInner {
  width: 312px;
  height: 402px;
  overflow: hidden;
}
.frame5,
.frameInner {
  left: 37px;
  width: 192px;
  height: 24px;
}
.frame5 {
  left: 0;
  width: 229px;
}
.chineseYakisbo1 {
  position: absolute;
  top: 0;
  left: 68px;
  letter-spacing: 0.01em;
  font-weight: 500;
}
.frame4,
.frame6 {
  width: 231px;
  overflow: hidden;
}
.frame6 {
  position: absolute;
  top: 1px;
  left: 0;
  height: 29px;
}
.frame4 {
  position: relative;
  height: 30px;
  flex-shrink: 0;
}
.frame8,
.frameDiv {
  position: absolute;
  top: 0;
  left: 37px;
  width: 184px;
  height: 41px;
  overflow: hidden;
}
.frame8 {
  left: 0;
  width: 221px;
}
.ametMinimMollit {
  position: absolute;
  top: 0;
  left: 77.8px;
  letter-spacing: 0.01em;
  display: inline-block;
  width: 145.5px;
}
.frame7,
.frame9 {
  width: 223.3px;
  overflow: hidden;
}
.frame9 {
  position: absolute;
  top: 1.9px;
  left: 0;
  height: 42px;
}
.frame7 {
  position: relative;
  height: 43.9px;
  flex-shrink: 0;
  font-size: var(--font-size-3xs);
}
.div {
  position: absolute;
  top: 4px;
  left: 20px;
  letter-spacing: 0.01em;
}
.frame11,
.wrapper {
  position: absolute;
  top: 0;
  left: 37px;
  width: 136px;
  height: 18px;
  overflow: hidden;
}
.frame11 {
  left: 0;
  width: 173px;
}
.maskGroupIcon,
.maskGroupIcon1,
.maskGroupIcon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 14.5px;
  height: 14.5px;
  object-fit: cover;
}
.maskGroupIcon1,
.maskGroupIcon2 {
  left: 20.3px;
}
.maskGroupIcon2 {
  left: 40.7px;
}
.maskGroupIcon3 {
  left: 61px;
  width: 14.5px;
  object-fit: cover;
}
.maskGroupIcon3,
.maskGroupIcon4,
.maskGroupParent {
  position: absolute;
  top: 0;
  height: 14.5px;
}
.maskGroupIcon4 {
  left: 81.3px;
  width: 14.5px;
  object-fit: cover;
}
.maskGroupParent {
  left: 77.8px;
  width: 95.8px;
}
.frame10,
.frame12 {
  width: 173.6px;
  overflow: hidden;
}
.frame12 {
  position: absolute;
  top: 3px;
  left: 0;
  height: 14.5px;
}
.frame10 {
  position: relative;
  height: 18px;
  flex-shrink: 0;
  font-size: var(--font-size-3xs);
  color: var(--color-goldenrod);
}
.frameIcon {
  position: absolute;
  top: 9.6px;
  left: 0;
  width: 252px;
  height: 47px;
  overflow: hidden;
}
.div1 {
  position: absolute;
  top: 0;
  left: 75.3px;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
  width: 61.9px;
  height: 27.6px;
}
.frame14,
.frame16,
.frameChild1 {
  position: absolute;
  top: 0;
  left: 37px;
  width: 98px;
  height: 27px;
  overflow: hidden;
}
.frame14,
.frame16 {
  top: 0.6px;
  left: 0;
  width: 135px;
}
.frame14 {
  top: 0;
  width: 137.2px;
  height: 27.6px;
}
.frame13 {
  width: 252px;
  position: relative;
  height: 56.6px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame3 {
  position: absolute;
  top: 212px;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.frame,
.frameParent {
  position: absolute;
  width: 312px;
}
.frameParent {
  top: 0;
  left: 0;
  filter: drop-shadow(-11px 13px 90px rgba(0, 0, 0, 0.25) inset);
  height: 401.5px;
}
.frame {
  top: -0.5px;
  left: 290px;
  height: 410.5px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xl-7);
  color: var(--color-black);
  font-family: var(--font-satoshi-variable);
}
