.sesChickenBiryaniRecipe736 {
  position: absolute;
  top: 288px;
  left: 69px;
  border-radius: var(--br-6xl);
  width: 980px;
  height: 640px;
  background-image: url(/public/seschickenbiryanirecipe7367850heroaed211926bb0e4ca1be510695c15ce111-2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
