.productList {
  width: 1190px;
  position: relative;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  height: 336px;
}
.frame,
.frame1 {
  position: absolute;
  overflow: hidden;
}
.frame1 {
  top: -6px;
  left: -3px;
  width: 1190px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.frame {
  top: 569px;
  left: -4.5px;
  width: 1195px;
  height: 336px;
  opacity: 0.66;
}
