.briyaneAppearsTo {
  margin: 0;
}
.riceTypicallyLongGrain {
  margin-bottom: 0;
}
.riceTypicallyLongGrainBa {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.briyaneAppearsToContainer {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.2px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  height: 517px;
  flex-shrink: 0;
}
.frame1 {
  width: 657px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
}
.rs9000 {
  width: 186px;
  position: relative;
  letter-spacing: -0.2px;
  display: inline-block;
  height: 56px;
  flex-shrink: 0;
}
.frame3 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.frameChild {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  border-radius: var(--br-6xl);
  background-color: var(--color-whitesmoke-200);
  width: 279px;
  height: 341px;
}
.getDirections {
  margin: 0;
  position: absolute;
  top: 7px;
  left: 6.5px;
  font-size: inherit;
  letter-spacing: -0.2px;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  width: 121px;
  height: 39px;
}
.getDirectionsWrapper {
  position: absolute;
  top: 0;
  left: 3.5px;
  border-radius: var(--br-6xl);
  background-color: var(--color-snow-400);
  width: 177px;
  height: 54px;
}
.rectangleInput {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid var(--color-cornflowerblue-200);
  box-sizing: border-box;
  width: 27px;
  height: 24px;
}
.groupChild {
  position: absolute;
  top: 5px;
  left: 6px;
  width: 21px;
  height: 14px;
  object-fit: cover;
}
.rectangleParent {
  position: absolute;
  top: 15px;
  left: 131px;
  width: 27px;
  height: 24px;
}
.frame5,
.frameItem {
  position: absolute;
  overflow: hidden;
}
.frame5 {
  top: 191.5px;
  left: 21px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-200);
  width: 184px;
  height: 54px;
  font-family: var(--font-pontano-sans);
}
.frameItem {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 188.5px;
  left: 0;
  width: 204px;
  height: 60px;
}
.frameInner {
  width: 129px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--wwwjustdialcom-nero);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 62.1px;
}
.frame6 {
  position: absolute;
  top: 113px;
  left: 0;
  width: 141px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.image4Icon {
  width: 34px;
  position: relative;
  height: 44px;
  object-fit: cover;
}
.frame7 {
  position: absolute;
  top: 122.1px;
  left: 0;
  width: 62px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.chat {
  margin: 0;
  width: 80px;
  position: relative;
  font-size: var(--wwwjustdialcom-poppins-regular-142-size);
  letter-spacing: -0.2px;
  font-weight: 500;
  font-family: var(--wwwjustdialcom-poppins-medium-14);
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  height: 58px;
  flex-shrink: 0;
}
.frame8,
.frameIcon {
  position: absolute;
  overflow: hidden;
}
.frame8 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 112.5px;
  left: 16px;
  width: 134.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.frameIcon {
  top: 0.5px;
  left: 12px;
  width: 31px;
  height: 36px;
  object-fit: cover;
}
.baticaloSriLanka {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.2px;
  font-weight: 400;
  font-family: inherit;
}
.frame10 {
  position: absolute;
  top: -1px;
  left: 43px;
  width: 247px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frameParent {
  align-self: stretch;
  position: relative;
  height: 71px;
}
.frame12,
.frame9 {
  position: absolute;
  left: 0;
  overflow: hidden;
}
.frame9 {
  top: 262px;
  width: 302px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.frame12 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-limegreen-300);
  top: 0;
  border-radius: var(--br-xl);
  width: 249px;
  height: 62.1px;
}
.lineMdphoneCall {
  width: 24px;
  position: relative;
  height: 31px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame13 {
  left: 55px;
  width: 24px;
  height: 31.4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.div,
.frame13,
.frameIcon1 {
  position: absolute;
  top: 0;
}
.frameIcon1 {
  left: 18.5px;
  width: 29.7px;
  height: 56.9px;
  overflow: hidden;
  object-fit: cover;
}
.div {
  left: 67px;
  letter-spacing: -0.2px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 201.2px;
  height: 75.3px;
}
.frameGroup {
  width: 275px;
  position: relative;
  height: 75px;
}
.frame11 {
  position: absolute;
  top: 11.5px;
  left: 14px;
  width: 274px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: var(--color-snow-100);
}
.frame4 {
  align-self: stretch;
  position: relative;
  height: 341px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--wwwjustdialcom-poppins-regular-142-size);
  color: var(--color-cornflowerblue-200);
  font-family: var(--wwwjustdialcom-poppins-medium-14);
}
.frame,
.frame2 {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
.frame2 {
  width: 288px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-37xl);
  font-size: var(--font-size-16xl);
}
.frame {
  position: absolute;
  top: 1020px;
  left: 69px;
  width: 1130px;
  height: 566px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-94xl);
  text-align: left;
  font-size: var(--wwwjustdialcom-poppins-regular-142-size);
  color: var(--color-black);
  font-family: var(--font-timmana);
}
